@keyframes fade-in {
  from  {opacity: 0;}
  to  {opacity: 1;}
}

@keyframes fade-out {
  from  {opacity: 1;}
  to  {opacity: 0;}
}

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.fade-out {
  animation-name: fade-out;
  animation-fill-mode: both;
  animation-duration: 1s;
}

body {
  height: 100%;
}

#newCardContainer {
  margin-left: 20px;
  width: 50%;
  padding: 20px;
  display: block;
  border: 5px solid black;
  border-radius: 10px;
}

h1 {
  margin-left: 20px;
}

#showKnown {
  position: absolute;
  right: 50px;
  top: 20px;
}

#darkMode {
  position: absolute;
  right: 200px;
  top: 20px;
}


h2 {
  margin-top: 0;
}

textarea {
  margin-bottom: 20px;
}

#add {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.flashcard {
  color: black;
  display: inline-block;
  margin: 20px;
  padding: 15px;
  background: lightgray;
  max-width: 30%;
}

button {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}

.hide {
  display: none;
}
